<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/mvc
   		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- set annotation to ON -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<context:annotation-config />
	<mvc:annotation-driven />


	<context:component-scan base-package="org.ili.java.projecttp.persistence"/>
	<context:component-scan base-package="org.ili.java.projecttp.business" />
	<context:component-scan base-package="org.ili.java.projecttp.front" />
	
	<!-- CONFIGURING CONTAINER-MANAGED JPA -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
		<property name="persistenceUnitName" value="mypu" />
		<property name="dataSource" ref="myDataSourceForProject" /> 
		<property name="jpaVendorAdapter" ref="myJpaVendorAdapter" /> <!-- OK -->
	<!-- 	<property name="jpaDialect" ref="myJpaDialect" /> OK -->
		<!-- <property name="jtaDataSource" ref="myDataSourceForProject" /> -->
	</bean>

	<bean id="myJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="database" value="MYSQL" />
		<property name="databasePlatform" value="org.hibernate.dialect.MySQL5InnoDBDialect" />
		<property name="showSql" value="true" />
		<property name="generateDdl" value="false" />
	</bean>

	<!-- <bean id="myJpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" /> -->

	<bean id="myTransactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="myTransactionManager" />
	

	<context:property-placeholder location="classpath:database.properties" />

	<bean id="myDataSourceForProject" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${database.driver}"></property>
		<property name="url" value="${database.url}"></property>
		<property name="username" value="${database.user}"></property>
		<property name="password" value="${database.password}"></property>
	</bean>
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

	

	

	


</beans>